<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999030706770-5ugom7g29cr67qq4uumhh3r2o8n14ljf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999030706770-5ugom7g29cr67qq4uumhh3r2o8n14ljf</string>
	<key>API_KEY</key>
	<string>AIzaSyCEStKBuHLT8Jh7yNjBwFvLkaqd8LWo0Hs</string>
	<key>GCM_SENDER_ID</key>
	<string>999030706770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp</string>
	<key>PROJECT_ID</key>
	<string>tododev-5deef</string>
	<key>STORAGE_BUCKET</key>
	<string>tododev-5deef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999030706770:ios:6d05495a615d5845</string>
	<key>DATABASE_URL</key>
	<string>https://tododev-5deef.firebaseio.com</string>
</dict>
</plist>